$bg-start: #9d9181;
$bg-end: #9e866c;
$card-bg: #e6e5e1;
$dribbble-color: #ea4b89;
$twitter-color: #68aade;
$facebook-color: #3b5999;

// estilos custom
:host /deep/ tr.solved {
  background-color: rgba(255, 255, 0, 0.5) !important;
}
:host /deep/ tr.aborted {
  background-color: rgba(255, 0, 0, 0.5) !important;
}


[role='main'] {
  padding-top: 48px; /* Space for fixed navbar */
}

:host /deep/ ng2-st-tbody-edit-delete {
  display: flex !important;
  //display: inline-block !important;
  height: 100 !important;
  width: 66% !important;
  padding-top: 26px;
}

:host /deep/ ng2-st-tbody-create-cancel {
  padding-top: 17px;
}

:host
  /deep/
  ng2-st-tbody-custom
  a.ng2-smart-action.ng2-smart-action-custom-custom {
  //display: inline-block;
  width: 100% !important;
  text-align: center;
  font-size: 1.1em;
  color: #3baf29;
  padding-top: 26px;
  padding-bottom: 26px;
  height: 100 !important;
}

:host
  /deep/
  ng2-st-tbody-custom
  a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
  color: #5dcfe3;
}

:host /deep/ ng2-smart-table .ng2-smart-actions {
  width: 100% !important;
  //text-align: center;
  display: inline-flex !important;
  height: 100%;
}


// fin estilos custom

html {
  min-height: 100%;
	background: linear-gradient($bg-start, $bg-end);
}

body {
	background-color: transparent;
}

.card-profile {
  //width: 340px;
  width: 500px;
  margin: 50px auto;
  background-color: $card-bg;
  border-radius: 0;
  border: 0;
  box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
  
  .card-img-top {
    border-radius: 0;
  }

  .card-img-profile {
    max-width: 100%;
    border-radius: 50%;
    margin-top: -95px;
    margin-bottom: 35px;
    border: 5px solid $card-bg;
  }

  .card-title {
    margin-bottom: 50px;

    small {
      display: block;
      font-size: 0.6em;
      margin-top: 0.2em;
    }
  }
  
  .card-links {
    margin-bottom: 25px;

    .fa {
      margin: 0 1em;
      font-size: 1.6em;
      
      &:focus,
      &:hover {
        text-decoration: none;
      }
      
      &.fa-dribbble {
        color: $dribbble-color;
        font-weight: bold;
        
        &:hover {
          color: darken($dribbble-color, 10%);
        }
      }

      &.fa-twitter {
        color: $twitter-color;

        &:hover {
          color: darken($twitter-color, 10%);
        }
      }
      
      &.fa-facebook {
        color: $facebook-color;

        &:hover {
          color: darken($facebook-color, 10%);
        }
      }
    }
  }
}

